<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% block title %}
    {% endblock %}
  </title>



  <link rel="stylesheet" href="{{ url_for('static', filename='js_lib/bootstrap5.3/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='js_lib/fontawesome-free-6.5.2-web/css/all.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='js_lib/bootstrap-icon/bootstrap-icons.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='js_lib/sweet-alert/css/sweetalert2.min.css') }}">

  <script src="{{ url_for('static', filename='js_lib/bootstrap5.3/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js_lib/jquery3.7.1/jquery-3.7.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js_lib/sweet-alert/js/sweetalert2@11.js') }}"></script>
  <script src="{{ url_for('static', filename='js_lib/html5-qrcode-scanner/html5-qrcode.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js_lib/chart/chart.js') }}"></script>
  <script src="{{ url_for('static', filename='js_lib/axios/axios.min.js') }}"></script>
  

   <!-- Favicon -->
   <link rel="icon" href="{{ url_for('static', filename='logo/Flask.png') }}" type="image/png">

   <link rel="stylesheet" href="{{ url_for('static', filename='css/public/public_nav.css') }}">



</head>

<body>


<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(83, 158, 214);">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{{ url_for('static', filename='logo/Flask.png') }}" alt="Logo" width="50" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
      
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link home-nav" aria-current="page" href="{{ url_for('home.home_page') }}">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link about-nav" href="{{ url_for('about.about_page') }}">About</a>
        </li>
      </ul>

      <div class="d-flex">
        <a href="{{ url_for('login.login_page') }}" 
        class="btn btn-light fw-bold px-4 py-2 rounded-pill shadow-sm login-nav-btn">
        <i class="bi bi-person-fill-lock"></i>
          LogIn
        </a>
        <a href="{{ url_for('signup.signup_page') }}" 
        class="btn btn-light fw-bold px-4 py-2 rounded-pill shadow-sm signup-nav-btn">
          <i class="bi bi-person-fill-add"></i>
          SignUp
        </a>
      </div>

    </div>
  </div>
</nav>


  {% block content %}
  {% endblock %}


</body>
</html>
