<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='js_lib/bootstrap5.3/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js_lib/fontawesome-free-6.5.2-web/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js_lib/bootstrap-icon/bootstrap-icons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js_lib/sweet-alert/css/sweetalert2.min.css') }}">

    <script src="{{ url_for('static', filename='js_lib/bootstrap5.3/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js_lib/jquery3.7.1/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js_lib/sweet-alert/js/sweetalert2@11.js') }}"></script>
    <script src="{{ url_for('static', filename='js_lib/axios/axios.min.js') }}"></script>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='logo/Flask.png') }}" type="image/png">

    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/auth.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sweetAlert.css') }}">

</head>
<body>
<div class="center-wrapper">
  <div class="card">
    <h4 class="mb-4 text-center">Email Verification</h4>

    {% if message %}
      <div class="alert {{ 'alert-success' if success else 'alert-danger' }} text-center mb-4">
        <strong>{{ message }}</strong>
      </div>
    {% endif %}

    <form id="verify_form">
      {% if not success %}
      <div class="form-group mb-3">
        <div class="input-group">
          <div class="form-floating">
            <input type="email" class="form-control" id="email" placeholder="name@example.com" required>
            <label for="email">Email</label>
          </div>
        </div>
        <small id="email-format" class="text-danger d-none"></small>
      </div>
      <button class="btn btn-primary w-100" id="resend-btn" type="submit">Resend Link</button>
      <hr>

      {% else %}
      <a href="{{ url_for('login.login_page') }}" class="btn btn-primary btn-lg w-100 mt-3">Login</a>
      {% endif %}
    </form>

  </div>
</div>
  <script src="{{ url_for('static', filename='js/auth/verify.js') }}"></script>
  <script src="{{ url_for('static', filename='js/auth/form_check/verify_form_checker.js') }}"></script>
</body>
</html>
